<% layout('layouts/main.ejs') %>
<div class="wide">
    <div class="main-col" id="m1">
        <% if (signinMessage.length > 0) { %>
            <div class="alert alert-danger">
                <%= signinMessage %>
            </div>
        <% } %>
        <div class="sign-box">
            <form name="login" action="/login" method="POST" class="p-4">
                <div class="text-center mb-3">
                    <h4>Inicio de sesión</h4>
                </div>
                <div class="row">
                    <div class="form-group col-12">
                        <input type="text" class="form-control text-center" name="email" placeholder="Correo electrónico" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12">
                        <input type="password" class="form-control text-center" name="password" placeholder="Contraseña" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12">
                        <button class="btn btn-block btn-blue" type="submit">Iniciar sesión</button>
                        <div class="col-12 text-right">
                            <small>¿No tienes una cuenta? 
                                <span class="text-blue change">Registrate</span>
                            </small>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="bg" id="bg1"></div>
    </div>
    <div class="main-col" id="m2">
        <% if (signupMessage.length > 0) { %>
            <div class="alert alert-danger">
                <%= signupMessage %>
            </div>
        <% } else { %>
            <div class="alert alert-danger d-none" id="alert-box">
                <span id="alert-text"></span>
            </div>
        <% } %>
        <div class="sign-box">
            <form name="register" action="/register" method="POST" class="p-4" onsubmit="return validateForm()">
                <div class="text-center mb-3">
                    <h4>Registro</h4>
                </div>
                <div class="row justify-content-center">
                    <div class="form-group col-12 row">
                        <input type="text" class="form-control text-center col-6" id="name" name="name" placeholder="Nombre" required>
                        <input type="text" class="form-control text-center col-6" id="lastname" name="lastname" placeholder="Apellido" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12">
                        <select name="province" id="province" class="form-control text-center" required>
                            <option value="" disabled selected>¿Dónde vives?</option>
                            <option value="Azua">Azua</option>
                            <option value="Bahoruco">Bahoruco</option>
                            <option value="Barahona">Barahona</option>
                            <option value="Dajabón">Dajabón</option>
                            <option value="Distrito Nacional">Distrito Nacional</option>
                            <option value="Duarte">Duarte</option>
                            <option value="Elías Piña">Elías Piña</option>
                            <option value="El Seibo">El Seibo</option>
                            <option value="Espaillat">Espaillat</option>
                            <option value="Hato Mayor">Hato Mayor</option>
                            <option value="Hermanas Mirabal">Hermanas Mirabal</option>
                            <option value="Independencia">Independencia</option>
                            <option value="La Altagracia">La Altagracia</option>
                            <option value="La Romana">La Romana</option>
                            <option value="La Vega">La Vega</option>
                            <option value="María Trinidad Sánchez">María Trinidad Sánchez</option>
                            <option value="Monseñor Nouel">Monseñor Nouel</option>
                            <option value="Monte Cristi">Monte Cristi</option>
                            <option value="Monte Plata">Monte Plata</option>
                            <option value="Pedernales">Pedernales</option>
                            <option value="Peravia">Peravia</option>
                            <option value="Puerto Plata">Puerto Plata</option>
                            <option value="Samaná">Samaná</option>
                            <option value="San Cristóbal">San Cristóbal</option>
                            <option value="San José de Ocoa">San José de Ocoa</option>
                            <option value="San Juan">San Juan</option>
                            <option value="San Pedro de Macorís">San Pedro de Macorís</option>
                            <option value="Sánchez Ramírez">Sánchez Ramírez</option>
                            <option value="Santiago">Santiago</option>
                            <option value="Santiago Rodríguez">Santiago Rodríguez</option>
                            <option value="Santo Domingo">Santo Domingo</option>
                            <option value="Valverde">Valverde</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12">
                        <select class="form-control" name="career" id="career" required>
                            <option value="" disabled selected>¿Qué carrera estudias?</option>
                            <option value="Analítica y ciencia de los datos">Analítica y ciencia de los datos</option>
                            <option value="Desarrollo de Software">Desarrollo de Software</option>
                            <option value="Diseño industrial">Diseño industrial</option>
                            <option value="Energías renovables">Energías renovables</option>
                            <option value="Informática forense">Informática forense</option>
                            <option value="Inteligencia artificial">Inteligencia artificial</option>
                            <option value="Manufactura automatizada">Manufactura automatizada</option>
                            <option value="Manufactura de dispositivos médicos">Manufactura de dispositivos médicos</option>
                            <option value="Mecatrónica">Mecatrónica</option>
                            <option value="Multimedia">Multimedia</option>
                            <option value="Redes de información">Redes de información</option>
                            <option value="Seguridad informática">Seguridad informática</option>
                            <option value="Sonido">Sonido</option>
                            <option value="Simulaciones interactivas y videojuegos">Simulaciones interactivas y videojuegos</option>
                            <option value="Telecomunicaciones">Telecomunicaciones</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12">
                        <input type="email" class="form-control text-center" id="email" name="email" placeholder="Correo electrónico" autocapitalize="off" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12">
                        <input type="password" class="form-control text-center" name="password" placeholder="Contraseña" id="password1" autocomplete="off" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12">
                        <input type="password" class="form-control text-center" name="" placeholder="Confirmar contraseña" id="password2" autocomplete="off" required>
                    </div>
                </div>
                <input type="text" name="date" type="date" class="form-control" id="date" hidden>
                <div class="row">
                    <div class="form-group col-12">
                        <button class="btn btn-block btn-blue" type="submit">Registrar</button>
                        <div class="col-12 text-right">
                            <small>¿Ya tienes una cuenta?
                                <span class="text-blue change">Inicia Sesión</span>
                            </small>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="bg" id="bg2"></div>
    </div>
</div>

<script src="/js/signup.js"></script>

